.manageUser{
    margin-top: 1em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.128);
    padding: .5em 1.5em;
}
.manageUser-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5em 0;
}
strong{
    margin-right: .3em;
}

.user-manage-para{
    margin-bottom: .3em;
}

.manage-btn{
    font-size: 1.5em;
    margin-left: .5em;
}