@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
a:focus{
    outline: none;
}

/* Width */
::-webkit-scrollbar {
    width: 5px; /* width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background-color:#EBEDEF;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(203, 203, 203, 0.759); /* color of the scrollbar handle */
    background: #D6DBDF;
}
body,html{
    background-color: #F2F3F4;
}
.nav-header{
    background-color: #FDFEFE  ;
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 0 1em;
}

.navbar .brand-name{
    font-size: 1.5em;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: black;
}
.brand-logo{
    width: 90px;
    height: 90px;
}
.admin-side-bar{
    display: flex;
    gap: 1.5em;
    align-items: center;
}
.user-and-ham{
    display: flex;
    align-items: center;
    gap: 1em;
}

#hamburger-icon{
    font-size: 2em;
    color: black;
    display: none;
}

.user-icon{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 100%;
    object-position: top;
}

.admin-profile img{
    width: 35px;
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: start;
    gap: 1em;
    padding: 1.5em 1em;
  
}

.left-container{
    flex: 1;
    border-radius: 10px;
    padding: 1.5em;
    background-color: #FDFEFE;
    min-height: 90vh;
}

.left-container-items{
   
    text-decoration: none;
    color: #2C3E50;
    font-size: 1em;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 1em;
    
}

.left-container-items:hover{
    background-color: #EBEDEF;

} 
.dropdown-items:hover{
    background-color: #EBEDEF;
    color: rgb(0, 185, 0);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 3px solid rgb(0, 185, 0);
}

.left-item-wrapper i{
    margin-right: .4em;
}

.more-arrow{
    font-size: .8em;
}

.dropdown-items-container{
    margin-left: 1.5em;
    display: none;
}
.dropdown-items{
    display: block;
    text-decoration: none;
    color: #2C3E50;
    font-size: 1em;
    padding: .8em .6em;
    font-weight: 400;
    

}

.visit-site-btn{
    text-decoration: none;
    border: 2px solid #566573;
    padding: .5em .5em;
    border-radius: 5px;
    font-weight: 500;
    font-size: .9em;
    color: #566573;
    transition: all 0.3s;
}
.visit-site-btn:hover{
    background-color: #566573;
    color: white;
}

.visit-site-btn:active{
    transform:scale(0.9)
}
.right-container{
    flex: 4;
    padding: 1.5em;
    width: 100%;
    min-height: 90vh;
    border-radius: 10px;
    background-color: #FDFEFE;
}



.dashboard-box{
    display: flex;
    width: 100%;
    gap: 1em;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    flex: 3;
    margin-top: 1em;
}
.grid-items{
    padding: 2.5em;
    color: white;
    border-radius: 20px;
    
}
.grid-inner-item{
    display: flex;
    justify-content: space-between;
}
.grid-inner-item i, .grid-inner-item p{
    font-size: 2.5em;
}
.admin-graph{
    flex:1;
}

.grid-item1{
    background-color: rgba(0, 155, 0, 0.651);
}

.grid-item2{
    background-color: rgba(255, 0, 0, 0.767);
}

.grid-item3{
    background-color: rgba(192, 192, 0, 0.722);
}

.grid-item4{
    background-color:cadetblue;
}

.dashboard-icon-title{
    margin-top: .5em;
    font-size: 1.3em;
}

#footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #304146;
    color: white;
    height: 200px;
    font-weight: 300;
}

@media screen and (max-width:750px){
    .container{
        padding: 0;
    }
    #hamburger-icon{
        display: block;
        z-index: 9999;
    }
    .navbar .brand-name{
        font-size: .9em;
    }
    .visit-site-btn{
        font-size: .8em;
        padding: .5em;
    }
    .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .left-container{
        /* display: none; */
        position: fixed;
        background-color: white;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius:0px;
        display: none;
        padding-top: 2em;
    }
    .grid-inner-item i, .grid-inner-item p{
        font-size: 1.5em;
    }
    .dashboard-icon-title{
        font-size: .9em;
    }
    .right-container{
        padding: 1.5em;
    }
}

@media screen and (min-width: 751px) and (max-width:1023px){
    .grid-inner-item i, .grid-inner-item p{
        font-size: 1.5em;
    }
    .dashboard-icon-title{
        font-size: 1em;
    }
    .left-container-items{
        font-size: .8em;
    }
    .dropdown-items{
        font-size: .8em;
    }
}

@media screen and (min-width: 1024px){
    .container{
        max-width: 1300px;
        margin: auto;
    }
}