.customer-form{
    width: 80%;
}


.customer-detail-wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .2em;
    margin-top: .7em;
}
.customer-info{
    padding: .7em;
    font-size: 1em;
    outline: none;
    width: 100%;
    border: none;
    background-color: #F2F4F4;
    border-radius: 5px;
}

label{
    font-size: .9em;
}


.profile-input{
    padding-left: 0;
    background-color: transparent;

    
}

.customer-info::placeholder{
    font-size: .9em;
}

.customer-info:focus{
    outline:1px solid #2C3E50;
}
.add-button{
    width: 300px;
    margin-top: 1em;
    font-size: 1em;
    padding: .7em 0;
    background: #2C3E50;
    border: none;
    color: white;
    border-radius: .2em;
    font-weight: 500;
}

@media screen and (max-width: 600px){
    .add-button{
        width: 100%;
    }
}