.contact-wrapper{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.contact-left-box{
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
}
.contact-right-box{
    flex:1;
    display: flex;
    flex-direction: column;
    background-color: #FDFEFE ;
    border-radius: 10px;
  
}


.contact-page-heading{
    text-align: center;
}

.contact-form{
    width: 75%;
    margin: auto;
}
.contact-img{
    width:100%;
    object-fit: cover;
}

.form-items{
    display: flex;
    flex-direction: column;
}

.form-items input{
    padding: .8em;
    font-size: .9em;
    outline: none;
    border:none;
    border-radius: 5px;
    background-color: #F2F3F4;
}

.form-items textarea{
    padding: .8em;
    border-radius: 5px;
    outline: none;
    border:none;
    background-color: #F2F3F4;
    resize: none;
    height: 100px;
}

.form-items label{
    margin: .8em 0em .5em 0em;
    font-size: 1em;
}

.form-btn{
    width: 100%;
    margin-top: 1em;
    padding: .6em 0;
    background-color: rgb(0,185,0);
    border: none;
    color: white;
    font-size: 1.1em;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
}
.submit-error{
    color: red;
    font-size: .7em;
}

@media screen and (max-width: 820px){
    .contact-page-heading{
        text-align: center;
        font-size: 1em;
    }
    .contact-form{
        width: 80%;
        margin:1em auto;
    }
    .contact-left-box{
        display: none;
    }
}