.report-heading{
    margin-bottom: 1em;
}
.report-item{
    /* border: 1px solid  rgb(0, 185, 0); */
    background-color:  #F2F3F4;
    padding: 1.5em;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all .3s;
}

.user-name{
    font-weight: 400;
    margin-bottom: .3em;
}
.report{
    display: flex;
    gap: .2em;
    margin-top: .3em;
    
}

.message{
    font-weight: 300;
    text-align: justify;
}
.message-head{
    margin-right: .2em;
}
.report-item:hover{
    transform: scale(1.02);
}
.reports-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.user-report-container{
    display: flex;
    align-items: start;
    gap: 1em;

}
.report-resolve-btn{
    border: 1px solid #566573;
    padding: .5em 1em;
    border-radius: 5px;
    font-size: 1em;
    background-color:transparent;
    color: #566573;
    transition: all .3s;
}

.report-resolve-btn:hover{
    background-color: #566573;
    color: white;
}