/* checkout section */
.checkout-container {
    display: flex;
    gap: 1em;
}

.checkout-heading {
    margin-bottom: .5em;
    font-weight: 400;
}

.checkout-box1 {
    flex: 1;
    padding: 2em 3em;
    background-color: white;
}

.checkout-box2 {
    flex: 1;
    padding: 1em;
}

.name-container {
    display: flex;
    justify-content: space-between;
  
    gap: 1em;
}

.bill-cont {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
    gap: .3em;
}

.bill-cont {
    width: 100%;
}

.bill-cont input {
    padding: .8em;
    font-size: .9em;
    outline: none;
    border: none;
    background-color: #F2F3F4;
    border-radius: 5px;

}


.payment-options {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em 0;
}

.payment{
    padding: 1em .5em;
    background-color: white;
}


.order-place-btn {
    border: none;
    background-color: rgb(0, 185, 0);
    color: white;
    font-size: 1.3em;
    width: 100%;
    padding: .5em;
    font-weight: 500;
    border-radius: 5px;
}


.cart-container-box{
    overflow-y: auto;
    height: 50%;
}


.cart-item{
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.367);
    padding-top: .5em;
    padding-bottom: .5em;

}

.cart-item-details{
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 1em;
}

.cart-item-name{
    flex: 2;
}
.cart-item-other-details{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-item-image{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
}

.cart-quantity{
    background-color: #F2F3F4;
    padding: .2em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 1em;
}

.cart-quantity a{
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.487);
}

.remove-from-cart a{
    color: red;
}

.total-amount{
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;

}

.total-amount-price{
    font-weight: 500;
}

.empty-cart{
    margin: 2em 0;
    text-align: center;
    font-size: .9em;
    color: rgba(0, 0, 0, 0.477);
}


@media screen and (max-width: 820px) {
    .checkout-box1{
        width: 100%;
        padding: 0;
    }
    .checkout-box2{
        padding: 0;
    }
    .checkout-container{
        display: flex;
        flex-direction: column;
    }
    .order-place-btn{
        /* width: 200px; */
        font-size: 1em;
        margin-bottom: 1.5em;
    }
    .name-container{
        flex-wrap: wrap;
        gap: .5em;
    }
}