{% extends "adminbase/adminbase.html" %}
{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/adduser/adduser.css' %}">
{% endblock %}
{% block start %}
<form class="customer-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <h2 class="admin-dashboard-heading">Edit Customer</h2>
        <div class="customer-detail-wrapper">
            <label for="c-name">Full Name</label>
            <input class="customer-info" type="text" id="c-name" name="customer-name" placeholder="Full Name" value="{{userdetails.name}}">
        </div>
     
        <div class="customer-detail-wrapper">
            <label for="c-phone">Phone</label>
            <input  class="customer-info" type="text" id="c-phone" name="customer-phone" placeholder="Phone" value="{{userdetails.phone}}">
        </div>
        <div class="customer-detail-wrapper">
            <label for="c-password">Password</label>
            <input class="customer-info" type="password" id="c-password" name="customer-password" placeholder="Password">
        </div>
        <div class="customer-detail-wrapper">
            <label for="c-profile">Upload Profile</label>
            <input class="customer-info profile-input" type="file" name="customer-profile" id="c-profile"  >
        </div>
        <button type="submit" class="add-button">Submit</button>
    </form>
{% endblock %}