@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* resetting css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style:none;
    text-decoration: none;
}
/* Css for navbar */
.navbar-wrapper{
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right:1em;
    position:relative;

}

.logo img{
    width: 110px;
}




.navbar-navigator{
    display: flex;
    gap: 1.5em;
}

.navbar-navigator a{
    color: black;
    font-weight: 400;
    font-size: 1.1em;
}
.navbar-navigator a:hover{
    color: rgb(0,185,0);
}


.login-button{
    border: 2px solid rgb(0, 185, 0);
    padding: .3em 0;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    color: rgb(0, 185, 0);
    align-items: center;
    justify-content: center;
    width: 150px;
    border-radius: 5px;
    transition: all .3s;
}

.login-type-btn{
    display: flex;
    gap: 1em;
}

.login-button:hover{
    background-color:rgb(0, 185, 0);
    color: white;
    border: none;
}

.cart-and-profile{
    display: flex;
    align-items: center;
    gap: 2em;
}

.cart-container{
    display: flex;
    align-items: center;
    font-size: .9em;
    position: relative;

}
.cart-icon{
    font-size: 1.5em;
    color: black;
    cursor: pointer;
}
.cart-item-count{
    position: absolute;
    width: 15px;
    height: 15px;
    left: 50%;
    top:0;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: .8em;
    color: white;
    background-color: red;
    cursor: pointer;
}


#hamburger-icon{
    display: none;

}



.user-profile-image{
    width: 60px;
}
.user-png-icon{
    cursor: pointer;
}
.user-png-icon img{
    width: 40px;
}


.user-popup{
    width:30%;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    background-color: white;
    z-index: 9999;
    padding: 1em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.122);
    border-radius: 5px;
    height: 100vh;
    transition: .5s;

}

.user-utility{
    display: flex;
    flex-direction: column;
}
.user-utility a{
    color: black;
    width: 100%;
    padding: 1em;

}

.user-utility a:hover{
    background-color: #F2F3F4;
    color: rgb(0, 185, 0);
}

.user-name{
    text-align: center;
    margin-top: .5em;
    font-size: 1em;
}
.close-popup{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 1.5em;
    color: red;
}

.user-img{
    display: flex;
    margin-top: 2em;
    align-items: center;
    gap: .5em;
    margin-left: .5em;
    margin-bottom: 1em;
}   

.fa-xmark{
    color: red;
}








.container{
    padding: 0 1em;
    min-height:  100vh;
}





/* footer */
.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #304146;  
}
.footer-container{
    display: flex;
    flex-direction: column;
    margin: 3em 0;
}

.footer-navigator{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}
.footer-nav-links{
    display: flex;
    gap: 1em;
    margin-bottom: 2em;
}

.footer-nav-links a{
    color: white;
    font-size: .9em;
}
.footer-nav-links a:hover{
    color: rgb(0,185,0);
}
.footer-logo img{
    width: 240px;
}

.copy-right{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CCD1D1 ;
    font-size: .9em;
}
.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.social-links .facebook{
    color: rgb(108, 108, 255);
    font-size: 1.1em;
}
.social-links .twitter{
    color: skyblue;
}
.social-links .instagram{
    color: rgb(255, 24, 151);
}



@media screen and (max-width:750px) {
    /* navbar media query */
    .navbar-navigator{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        align-items: center;
        padding-top: 90px;
        background-color: white;
        visibility: hidden;
        z-index: 999;
    }
    .navbar-navigator a{
        font-size: 1em;
    }


    .login-button{
        border: 2px solid rgb(0, 185, 0);
        padding: .4em 0;
        display: flex;
        font-size: .8em;
        font-weight: 500;
        color: rgb(0, 185, 0);
        align-items: center;
        justify-content: center;
        width: 90px;
        border-radius: 5px;
        transition: all .3s;
    }
    
    .login-type-btn{
        display: flex;
        gap: .5em;
    }

    .cart-and-profile{
        gap: 1em;
    }
    .user-png-icon img{
        width: 1.5em;
    }
    .logo img{
        width: 80px;
    }

    #hamburger-icon{
        display: block;
        font-size: 1.5em;
        z-index: 1000;

    }
    
    #hamburger-icon i{
        transition: all .3s;

    }
    /* footer media query */
    .copy-right{
        font-size: .6em;
    }
    .footer-logo img{
        width: 100px;
    }
    .footer-nav-links{
        flex-direction: column;
        font-size: .7em;
        align-items: center;
    }

    .social-links{
        gap: 1em;
    }
    .user-profile-image{
        width: 30px;
    }
    .user-name{
        font-size: .8em;
    }

    .user-popup{
        width: 60%;
    }
    .user-utility a{
        font-size: .7em;
    }
}
@media screen and (min-width:1024px){
    .container,.navbar{
        max-width: 1300px;
        margin: auto;
    }
}


