

.menu-container{
    display: flex;
    width: 100%; 
    min-height: 100vh;
    gap: 1em;
    align-items: start;
    background-color: #F8F9F9;
}

.menu-box-1{
    flex: 1;
    background-color: white;
    padding: 1em;

}

.menu-category-item{
    margin-bottom: .3em;
    cursor: pointer;
}

.menu-category-item > *{
    cursor: pointer;
}


#filter-btn{
    border: none;
    background-color: rgb(0, 185, 0);
    color: white;
    padding: .5em;
    font-size: 1em;
    width: 100%;
}


.menu-box-2{
 
    flex: 5;
    padding: 1em;
}


.search-bar-container{
    display: flex;
    align-items:end;
    gap: 1em;
    margin-bottom: 1em;
}
.search-bar{
    flex: 2;
    display: flex;
    align-items: center;
    position: relative;
}
.search-result{
    flex: 1;
}
.search-bar input{
    width: 100%;
    padding: .5em;
    font-size: 1.1em;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(0, 185, 0);
}

.search-btn{
    font-size: 1.5em;
    position: absolute;
    right: 0;
    color: rgb(0, 185, 0);
    background-color: transparent;
    border: none;
    cursor: pointer;

}






.menu-box-container{
    margin-bottom: 1em;
}


.menu-box-heading{
    margin-bottom: .4em;
}





.menu-card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}
.menu-card{
    padding: 1em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
}

.menu-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.menu-card-price{
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.price-wrapper{
    color: rgb(0, 185, 0);
    display: flex;
    align-items: center;
    gap: .5em;
}
.price{
    color: rgb(37, 37, 37);
}

.card-title{
    margin: .3em 0;
}
.add-btn{
    font-size: 1em;
    background-color: rgb(0, 185, 0);
    border: none;
    color: white;
    padding: .5em;
    border-radius: 3px;
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: center;
    cursor: pointer;
}

.manage-item-wrapper{
    display: flex;
    gap: 1em;
}


