{% extends 'base/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/userorders/userorders.css' %}">
{% endblock %}
{% block start %}
<div class="order-container">

    <div class="order-left-container">
        <h2 class="top-heading">Your Orders</h2>
        {% if not orders %}
        <p>You haven't ordered yet!</p>
        {% else %}
        <div class="order-inner-container">

            {% for order in orders %}
            {% for item in order.orderitem_set.all %}
            <div class="user-order-container">
                <div class="user-order-details">
                    <img src="/media/{{item.food_item.food_image}}" alt="" class="user-order-img">
                    <div class="order-price-name">
                        <h3 class="order-item-heading">{{item.food_item.food_name}}</h3>
                        <div class="price-quantity">
                            <p><span>Price:</span>&#8377;{{item.food_item.food_price}}</p>
                            <p><span>Qauntity:</span> {{item.quantity}}</p>
                        </div>
                    </div>
                </div>
                <form action="{% url 'cancelorder' order_id=order.id  item_id=item.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="cancel-btn" value="Cancel">
                </form>
            </div>

            {% endfor %}
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="order-right-container">
        <h2 class="top-heading">Total order amount</h2>
        <div class="order-price-info">
            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>price</th>
                        <th>Total price</th>
                    </tr>
                </thead>
                <tbody>
                    {% load custom_filters %}
                    {% for order in orders %}
                    {% for item in order.orderitem_set.all %}

                    <tr>
                        <td>{{item.food_item.food_name}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.food_item.food_price}}</td>
                        <td>{{ item.quantity|multiply:item.food_item.food_price }}</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}

                </tbody>
            </table>
            <p class="total-amount-heading"><strong>Total Order Amount:</strong> &#8377; {{total_amount}}</p>
        </div>
    </div>
</div>
{% endblock %}