.category_form{
    margin-top: 1em;
    display: flex;
    border: 1px solid #2C3E50;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}
.addCategoryInputTag{
    width: 100%;
    padding: 1em;
    outline: none;
    border: none;
    font-size: 1em;
}
.addCategoryBtn{
    background-color: #2C3E50;
    border: none;
    color: white;
    width: 100px;
    font-size: 1.1em;
    cursor: pointer;
}


.recently-added-categories{
    margin-top: 1em;
}