{% extends 'adminbase/adminbase.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/managecategories/managecategories.css' %}">
{% endblock %}
{% block start %}
<div class="manageCategory">
    <h2>Manage Categories</h2>
    <div class="category-item">
        {% for category in categories %}
            <div class="category_list">
                <div class="category-detail">
                    <p>{{category.food_category}}</p>
                </div>
                <div class="category-manage-btn">
                    <a href="{% url 'deletecategory'  category.id %}" class="delete-btn manage-btn"><i class="fa-solid fa-trash-can"></i></a>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}