{% extends "adminbase/adminbase.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/orders/orders.css' %}">
{% endblock %}
{% block start %}
    <h2>Orders</h2>
    <div class="pendig-orders-container">
        {% for order in orders %}
        <div class="order-card">
            <div class="order-details">
                <p class="order-details-para"><span class="order-details-span">Order id:</span> {{order.id}}</p>
                <p class="order-details-para"><span class="order-details-span">Customer Name:</span> {{order.first_name}} {{order.last_name}}</p>
                <p class="order-details-para"><span class="order-details-span">Customer Email:</span>{{order.user.email}}</p>
                <p class="order-details-para"><span class="order-details-span">Total Amount:</span> &#8377;{{order.total_price}}</p>
                <p class="order-details-para"><span class="order-details-span">Ordered Date:</span> {{order.created_at}}</p>
            </div>
            <h4 class="order-item-heading">Orders</h4>
            <div class="order-item-container">
                {% for order_item in order.orderitem_set.all %}
                <div class="order-item">
                    <img src="/media/{{order_item.food_item.food_image}}" alt="" class="order-item-img">
                    <div class="order-item-details">
                        <h4>{{order_item.food_item.food_name}}</h4>
                        <div>
                            <p class="order-details-para"><span class="order-details-span">Qty:</span> {{order_item.quantity}}</p>
                            <p class="order-details-para"><span class="order-details-span">Price:</span> &#8377; {{order_item.food_item.food_price}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}