@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}
body, html{
    width: 100%;
    height: 100%;
}

.new-user{
    width: 30em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:20px 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px .5px rgba(128, 128, 128, 0.511);
    border-radius: 5px;
}

.signup-title{
    text-align: center;
}

.input-container{
    width:100%;
    display: flex;
    flex-direction: column;
    margin-top: .6em;
}

.input-label{
    font-size: 18px;
    margin-bottom: .3em;
}


.input-tag{
    border: none;
    width: 100%;
    outline: none;
    font-size: 18px;
    padding: .5em;
    border: 1px solid black;
    border-radius: 5px;
}

.input-tag::placeholder{
    font-size: 16px;
}

.login-user h4{
    font-size: 16px;
    font-weight: 400;
    margin-top: .5em;
}

#submit-btn{
    padding: .6em;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(0, 185, 0);
    color: white;
    border-radius: 5px;
    border: none;
    margin-top:.5em;
}