@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}
body, html{
    width: 100%;
    height: 100%;
}

.login-form{
    width: 30em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:35px 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px .5px rgba(128, 128, 128, 0.511);
    border-radius: 5px;
}

.login-title{
    text-align: center;
}

.input-container{
    width:100%;
    display: flex;
    flex-direction: column;
    margin-top: .8em;

}

.input-field{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    border-radius: 5px;
    overflow: hidden;
}

.input-tags{
    border: none;
    width: 100%;
    outline: none;
    font-size: 18px;
    padding: .5em;

}

.input-tags::placeholder{
    font-size: 16px;
}

.label-text{
    font-size: 18px;
    margin-bottom: .3em;
}
.login-icons{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
}
.new-user{
    margin-top: .8em;
}
.new-user h4{
    font-weight: 400;
    color: rgb(71, 71, 71);
}
#submit-btn{
    padding: .8em;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(0, 185, 0);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top:.5em;
}